mimic_data.csv
log/
mimic_data_real.csv
__pycache__
Qwen-0.5B/
qwen-3-4b/
medgemma-4b-it/
deprecated/
results/*.log 
task_queue
.venv/
.job_pids
.launcher_pid 
*.log 
activate.sh
discuss.md 
mimic_data/
old_results/
mimic-iv-ed-2.2/
physionet.org/
before_run1000/